@font-face {
    src:  url(font/FuturaPTMediumOblique.otf);
    font-family: uno;

  }


    @font-face {
    src:  url(font/DIMIS___.TTF);
    font-family: due;
  }





.Raccoglitore {
  font-size: 17px;
  font-family: uno;
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  grid-template-rows: auto;
  grid-template-areas:
    "sid log cos"
    "cia tit cos1"
    "cia art cos1"
    "foo foo foo";
}

/*LOGO*/


.goback {
  display: none;
}

.logo_blog {
  font-family: due;
  grid-area: log;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo_blog h1 {
  padding-top: 10px;
 font-size: 60px;
 text-decoration: none;
 color: rgb(92, 121, 8);
}

/*CONTENUTO TESTO*/
.sidebar {
  font-size: 19px;
  grid-area: cia;
}

.menu {
/*  margin-top: 150px; */
}

.menu h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu h4 a {
  text-decoration: none;
  color: black;
}

.menu h4 a:hover {
  color: rgb(51, 69, 0);
}





/*Titolo*/
.Titolo {
  font-size: 23px;

  grid-area: tit;
  text-align: center;
}

.Titolo h2 {
  margin-top: 50px;
}

.Titolo p {
  opacity: 0.7;
}

.Titolo p a {
  text-decoration: none;
  color: black;
}

.Titolo p a:hover {
  color: rgb(51, 69, 0);
  opacity: 1;
}



.pubb {
     display: flex; 
    grid-area:cos1;
}



/*ARTICOLO*/



.contenitore_art h4{
  display: flex;
  text-align: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}

.contenitore_art h3{
  display: flex;
  text-align: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}


.contenitore_art a {
  color: black;
  display: flex;
 justify-content: center;
 align-items: center;
}
.contenitore_art a:hover {
  opacity: 0.7;

}


.contenitore_art {
  font-size: 20px;
  grid-area: art;
  display: flex;
  margin-bottom: 30px;
  flex-direction: column;
}

.contenitore_art p {
  padding-left: 90px;
  padding-right: 60px;
  display: flex;
  justify-content: safe center;
  
}

.heading-p {
  text-align: left;
  font-size: 25px;
  text-decoration: underline;
}


/*FOOTER*/

.footer {
  background-color: rgb(121, 148, 86);
  height: 200px;
  width: 100%;
  color: white;
  grid-area: foo;
}
.contenuto-footer {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.contenuto-footer h3 {
  font-size: 1.8rem;
  font-weight: 100;
  text-transform: capitalize;
  line-height: 20px;
}

.contenuto-footer p {
  margin: 0;
  line-height: 28px;
  font-size: 14px;
  max-width: auto;
}

.social {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1re 0 3rem 0;
  padding: 0;
}

.social li {
  margin: 0 10px;
}

.social a {
  text-decoration: none;
  color: white;
}

.social a i {
  font-size: 1.1rem;
  transition: 0.4 ease;
}

.social a:hover {
  color: rgb(121, 148, 86);
}

.footer-sotto {
  background: rgb(121, 148, 86);
  width: 100%;

  padding: 0 0;
  text-align: center;
}

.footer-sotto p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
  margin: 0 10px;
}

.footer-sotto span {
  opacity: 0.4;
  font-weight: 200;
}


@media screen and (max-width: 1020px){


.Raccoglitore {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "log1"
    "sdb1"
    "tit1"
    "arp1"
    "foo1";
  }

.logo_blog {
  align-items: center;
  justify-content: center;
  display: flex;
  grid-area: log1;
}


.logo_blog h1 {
  padding-top: 10px;
 font-size: 60px;
 text-decoration: none;
 color: rgb(92, 121, 8);
}



.contenitore_art {
  display: flex;
  grid-area: arp1;

}

.contenitore_art p {
}





.sidebar {
      grid-area: sdb1;

}



.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;

/*  margin-top: 150px; */
}

.menu h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-left: 20px;
  padding-right: 20px;

}



.menu h4 a {
  text-decoration: none;
  color: black;
}

.menu h4 a:hover {
  color: rgb(51, 69, 0);
}



.Titolo {
  grid-area: tit1;
}



.footer {
  background-color: rgb(121, 148, 86);
  height: 200px;
  width: 100%;
  color: white;
  grid-area: foo1;
}
.contenuto-footer {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.contenuto-footer h3 {
  font-size: 1.8rem;
  font-weight: 100;
  text-transform: capitalize;
  line-height: 20px;
}

.contenuto-footer p {
  margin: 0;
  line-height: 28px;
  font-size: 14px;
  max-width: auto;
}

.social {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1re 0 3rem 0;
  padding: 0;
}

.social li {
  margin: 0 10px;
}

.social a {
  text-decoration: none;
  color: white;
}

.social a i {
  font-size: 1.1rem;
  transition: 0.4 ease;
}

.social a:hover {
  color: rgb(121, 148, 86);
}

.footer-sotto {
  background: rgb(121, 148, 86);
  width: 100%;

  padding: 0 0;
  text-align: center;
}

.footer-sotto p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
  margin: 0 10px;
}

.footer-sotto span {
  opacity: 0.4;
  font-weight: 200;
}



}


@media screen and (max-width: 575px) {
.Raccoglitore {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "log1"
    "sdb1"
    "tit1"
    "arp1"
    "foo1";
}
.Titolo {
  font-size: 17px;
}

.Titolo h2 {
  margin-top: 5px;

}
.contenitore_art {
  font-size: 19px;
}
.contenitore_art p {
padding-left: 20px;
    padding-right: 10px;
}

.menu > .cia1 {
  display: none;
}


.goback {
  grid-area: arp1;
  display: flex;
      justify-content: center;
    align-items: flex-end;
    padding-bottom: 5px;
}

.goback a {
  text-decoration: none;
  color: black;
}

.goback a:hover {
    text-decoration: underline;
    color: green;
}


}







