  @font-face {
    src:  url(font/FuturaPTMediumOblique.otf);
    font-family: uno;

  }

  @font-face {
    src:  url(font/DIMIS___.TTF);
    font-family: due;
  }



.raccoglitore {
  font-family: uno;
  font-size: 19px;
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
  grid-template-rows: 0.5fr 1.5fr 2fr 0.5fr;
  grid-template-areas:
    "cia log log nul"
    "sdb arp arp pub"
    "plu ars arh pub"
    "foo foo foo foo";
}
/*logo eightlog*/
.logo {
  font-family: due;
  grid-area: log;
}

.logo_blog {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo_blog h1 {
  padding-top: 10px;
 font-size: 60px;
 text-decoration: none;
 color: rgb(92, 121, 8);
}

/*BOTTIGLIA*/

.Bottiglia {
  grid-area: cia;
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  padding-top: 20px;
  margin-left: 34px;
  padding-left: 34px;
}

.Bottiglia h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 0 0 #060606, -2px 0 0 #0f0f0f, 0 2px 0 #0b0b0b,
    0 -2px 0 #0f0f0f, 1px 1px #0d0d0d, -1px -1px 0 #1c1c1c, 1px -1px 0 #242424,
    -1px 1px 0 #000;
  padding-top: 10px;
}

.Bottiglia h3 a {
  text-decoration: none;
  color: rgb(0, 150, 186);
  padding-left: 3px;
}
.Bottiglia p {
  display: flex;
  padding-top: 42px;
}

/*SEARCHBAR*/


/*SIDEBAR*/

.sidebar {
  grid-area: sdb;
}

.menu {
/*  margin-top: 150px; */
}

.menu h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu h4 a {
  text-decoration: none;
  color: black;
}

.menu h4 a:hover {
  color: rgb(51, 69, 0);
}


.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 15px;
}

.info h2 {
  padding-top: 50px;
  margin: 0;
  margin-top: 45px;
}


.info p {
  margin:  0;
  opacity: 0.7;
}


/*rgb(51, 69, 0)*/

/*Articolo main*/
.Articolo_Main {
  grid-area: arp;
  text-align: center;
  display: block;
}

.Immagine_Main > img {
  width: auto;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}

.Immagine_Main > img:hover {
  opacity: 0.8;
}

.Titolo_Main_h2 > a {
  text-decoration: none;
  color: black;
}

.Titolo_Main_h2 > a:hover {
  color: (185, 208, 127);
  color: rgb(51, 69, 0);
  position: relative;
  bottom: 3px;
}

.Paragrafo_Main > p {
  opacity: 0.5;
}

.Separatore {
  margin-top: 50px;
}

/*Articolo secondario*/

.Articoli_2 {
  grid-area: ars;

  text-align: right;
  margin-right: 30px;
}

.Immagine_articolo_2 {
}

.Immagine_articolo_2 > img {
  width: 260px;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}

.Immagine_articolo_2 > img:hover {
  opacity: 0.7;
}

.Immagine_articolo_2 {
  padding-top: 25px;
}

.Text_Articolo_2 {
  grid-area: arh;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}
/*Testo articoli Secondari*/
.Text_Articolo_2 > p {
  opacity: 0.6;
  margin: 0;
}

.Text_Articolo_2 > a {
  text-decoration: none;
  color: black;
}

.Text_Articolo_2 > a:hover {
  color: rgb(51, 69, 0);
  position: relative;
  bottom: 3px;
}

.Text_Articolo_2_2 {
  grid-area: arh;
  padding-top: 50px;
}

.Text_Articolo_2_2 > a:hover {
  color: rgb(51, 69, 0);
  position: relative;
  bottom: 3px;
}

.Text_Articolo_2_2 > p {
  opacity: 0.6;
}

.Text_Articolo_2_2 > a {
  text-decoration: none;
  color: black;
}

.Text_Articolo_2_3 {
  grid-area: arh;
  padding-top: 110px;
}

.Text_Articolo_2_3 > a {
  text-decoration: none;
  color: black;
}

.Text_Articolo_2_3 > a:hover {
  color: rgb(51, 69, 0);
  position: relative;
  bottom: 3px;
}

.Text_Articolo_2_3 > p {
  opacity: 0.6;
}

/*Page Selector*/
.page_selector_nr {
      display: flex;
    grid-area: ars;
    text-align: center;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    left: 40px;

}

.page_selector_nr a {
  color: black;
}

.page_selector_nr a:hover {
  color: rgb(51, 69, 0);
  position: relative;
  top: 3px;
}

/*Pubblicita*/

.pubblicita {
  grid-area: pub;
  display: flex;
}

.pubb_p {
  justify-content: center;
  align-items: center;
}

/*Piccolo_par*/
.Piccolo_par {
  text-align: center;
  grid-area: plu;
  flex-direction: column;
  display: flex;
  align-items: center;
}
.Divisore {
  background: black;
  width: 182px;
  height: 2px;
  opacity: 0.3;
  display: flex;
  margin: 14px;
}
.Piccolo_par h4 {
  margin: 0;
}

.Piccolo_par p {
  opacity: 0.6;
  margin: 0;
  margin-top: 5px;
}

.P_Div a {
  text-decoration: none;
  color: black;
}

.P_Div a:hover {
  color: rgb(51, 69, 0);
}

.Piccolo_par h4 {
  padding-left: 20px;
  padding-right: 10px;
}

/*Footer*/

.footer {
  background-color: rgb(121, 148, 86);
  height: 200px;
  width: 100%;
  color: white;
  grid-area: foo;
}
.contenuto-footer {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.contenuto-footer h3 {
  font-size: 1.8rem;
  font-weight: 100;
  text-transform: capitalize;
  line-height: 20px;
}

.contenuto-footer p {
  margin: 0;
  line-height: 28px;
  font-size: 14px;
  max-width: auto;
}

.social {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1re 0 3rem 0;
  padding: 0;
}

.social li {
  margin: 0 10px;
}

.social a {
  text-decoration: none;
  color: white;
}

.social a i {
  font-size: 1.1rem;
  transition: 0.4 ease;
}

.social a:hover {
  color: rgb(121, 148, 86);
}

.footer-sotto {
  background: rgb(121, 148, 86);
  width: 100%;

  padding: 0 0;
  text-align: center;
}

.footer-sotto p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
  margin: 0 10px;
}

.footer-sotto span {
  opacity: 0.4;
  font-weight: 200;
}



@media (max-width: 1020px){
  .raccoglitore {
    display: grid;
     grid-template-columns: 0.5fr 0.5fr;
  grid-template-rows: 0.3fr 0.2fr 1.5fr 2fr 0.5fr;
  grid-template-areas:
    "log1 log1"
    "sdb1 sdb1"
    "arp1 arp1"
    "ars1 ars2"
    "foo1 foo1";
  }

.logo {
  align-items: center;
  justify-content: center;
  display: flex;
  grid-area: log1;
}

.logo_blog {
  display: flex;
}

.logo_blog h1 {
  padding-top: 10px;
 font-size: 60px;
 text-decoration: none;
 color: rgb(92, 121, 8);
}



/*COSE DA RIMUOVERE*/

.Text_Articolo_2 {
  display: flex;
  grid-area: ars2;
  text-align: left;

}
 .Text_Articolo_2 p {
  display: none;
}
  

.Text_Articolo_2_2 h3 {
  padding-top: 60px;
}


.Text_Articolo_2_3 h3 {
  padding-top: 60px;
}

.pubblicita {
  display: none;
}

.Piccolo_par {
  display: none;

}

.Articoli_2 {
  grid-area: ars1;
  display: flex;
  flex-direction: column;
  margin: 0;
  

}


.Text_Articolo_2_2 {
padding-top: 35px;
}

.Text_Articolo_2_3 {
padding-top: 20px;

}


.Immagine_articolo_2 {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  }

.Immagine_articolo_2 img {
  display: flex;
  justify-content: right;
}


.page_selector_nr {
  display: flex;
  padding-top: 3px;
  grid-area: ars1
}





.sidebar {
      grid-area: sdb1;

}



.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;

/*  margin-top: 150px; */
}

.menu h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-left: 20px;
  padding-right: 20px;

}

.menu h4 a {
  text-decoration: none;
  color: black;
}

.menu h4 a:hover {
  color: rgb(51, 69, 0);
}


.info {
  display: none;
  }





.Articolo_Main {
  grid-area: arp1;
  text-align: center;
  display: block;
}

.Immagine_Main > img {
  width: 360px;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}

.Immagine_Main > img:hover {
  opacity: 0.8;
}

.Titolo_Main_h2 > a {
  text-decoration: none;
  color: black;
}

.Titolo_Main_h2 > a:hover {
  color: rgb(185, 208, 127);
  color: rgb(51, 69, 0);
  position: relative;
  bottom: 3px;
}

.Paragrafo_Main > p {
  opacity: 0.5;
}

.Separatore {
  margin-top: 50px;
}






  .footer {
  background-color: rgb(121, 148, 86);
  height: 200px;
  width: 100%;
  color: white;
  grid-area: foo1;
}
.contenuto-footer {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.contenuto-footer h3 {
  font-size: 1.8rem;
  font-weight: 100;
  text-transform: capitalize;
  line-height: 20px;
}

.contenuto-footer p {
  margin: 0;
  line-height: 28px;
  font-size: 14px;
  max-width: auto;
}

.social {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1re 0 3rem 0;
  padding: 0;
}

.social li {
  margin: 0 10px;
}

.social a {
  text-decoration: none;
  color: white;
}

.social a i {
  font-size: 1.1rem;
  transition: 0.4 ease;
}

.social a:hover {
  color: rgb(121, 148, 86);
}

.footer-sotto {
  background: rgb(121, 148, 86);
  width: 100%;

  padding: 0 0;
  text-align: center;
}

.footer-sotto p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
  margin: 0 10px;
}

.footer-sotto span {
  opacity: 0.4;
  font-weight: 200;
}


}




@media (max-width: 580px) {


.Immagine_articolo_2 {
  padding-right: 0;
}


  .Immagine_articolo_2 img {
      width: 180px;
      height: auto;

}

.Text_Articolo_2 {
  text-align: center;
}


.Text_Articolo_2_2 {
    padding-top: 0;
}

.Text_Articolo_2_2 h3{
padding-top: 33px;
}

.Text_Articolo_2_3 {
  padding-top: 0;
}

.Text_Articolo_2_3 h3{
padding-top: 15px;

}


.Immagine_Main > img {
  width: 340px;
}

}
